#
# @package     etd-backup
#
# @version     0.0.1
# @copyright   Copyright (C) 2014 SARL ETUDOO, ETD Solutions. All rights reserved.
# @license     https://raw.githubusercontent.com/jbanety/etd-backup/master/LICENSE.md
# @author      Jean-Baptiste Alleaume (@jbanety) http://alleau.me
#

# @var string Nom de la sauvegarde
SAUVNAME="Cazin"

# @var string Répertoire de stockage des sauvegardes
DATADIR="/var/etd-backup"

# @var string Répertoire de travail (création/compression)
DATATMP="/var/tmp/etd-backup"

# @var string Commande pour la compression
COMPRESSION_CMD="tar -cf"

# @var string Options à passer pour la commande de compression
COMPRESSION_OPT="--use-compress-prog=pbzip2"

# @var string Extension des archives
COMPRESSION_EXT=".tar.bz2"

# @var string Fréquence des sauvegardes complètes
FULLIFOLDERTHAN="1W"

# @var integer Le nombre de jours de rétention des sauvegardes
RETENTION="60"

# @var string Utilisateur MySQL utilisé pour le dump
DB_USER="etdbackup"

# @var string Mot de passe
DB_PASS="@cvyizqB9qNL8zi@"

# @var string Noms des bases de données à exclure (regex)
DB_EXCLUSIONS="(information_schema|performance_schema)"

# @var string Options à passer à mysqldump
MYSQLDUMP_OPTIONS="--single-transaction --add-locks --lock-tables --events --routines --triggers --add-drop-table --extended-insert"

# @var string Chemin vers le dossier des sites internet
WWW_ROOTDIR="/var/www/vhosts"

# @var string Noms des dossiers à exclure
WWW_EXCLUSIONS="(system|chroot|default|fs|fs-passwd)"

# @var string Passphrase pour le chiffrement des sauvegardes
PASSPHRASE="@BjH4zzY4bV6L5U@"

# @var string Email pour les erreurs (0 pour désactiver)
EMAIL="support@etd-solutions.com"

# @var string Chemin vers l'exécutable duplicity
DUPLICITY_BIN="/usr/bin/duplicity"

# @var string Backend à utiliser par duplicity pour stocker les sauvegardes.
DUPLICITY_BACKEND="sftp"

# @var string Utilisateur Hubic
HUBIC_USER="contact@etudoo.fr"

# @var string Mot de passe HubiC
HUBIC_PASSWORD="@AxF9hsCoQTktyY@"

# Application client id Hubic
HUBIC_APPID="api_hubic_BcWEnGVgNIOqj7zkNBS4QEqTy7Z3tHNl"

# @var string Application client secret Hubic
HUBIC_APPSECRET="FBGPZutXbIN2kkFG240kseO6XeWrmemBm29Iep2eQM1NXlspe4ChH0YielJdZ85d"

# @var string Application domaine de redirection Hubic
HUBIC_APPURLREDIRECT="http://localhost/"

# @var string Dossier Hubic dans lequel seront envoyées les sauvegardes
HUBIC_FOLDER="cazin_backups"

# @var string Utilisateur SFTP
SFTP_USER="etdbackup_cazin"

# @var string Hôte SFTP
SFTP_HOST="195.154.65.48"

# @var string Port SFTP
SFTP_PORT="2223"

# @var string Dossier SFTP dans lequel seront envoyées les sauvegardes
SFTP_FOLDER=""

# @var string Ficher de log.
LOGFILE="/var/log/etd-backup.log"