#
# @package     etd-backup
#
# @version     0.0.1
# @copyright   Copyright (C) 2014 SARL ETUDOO, ETD Solutions. All rights reserved.
# @license     https://raw.githubusercontent.com/jbanety/etd-backup/master/LICENSE.md
# @author      Jean-Baptiste Alleaume (@jbanety) http://alleau.me
#

# @var string Nom de la sauvegarde
SAUVNAME=""

# @var string Répertoire de stockage des sauvegardes
ROOT="/var/etd-backup"

# @var string Répertoire de travail (création/compression)
DATATMP="/var/tmp/etd-backup"

# @var string Commande pour la compression
COMPRESSION_CMD="tar -cf"

# @var string Options à passer pour la commande de compression
COMPRESSION_OPT="--use-compress-prog=pbzip2"

# @var string Extension des archives
COMPRESSION_EXT=".tar.bz2"

# @var string Utilisateur MySQL utilisé pour le dump
DB_USER="etdbackup"

# @var string Mot de passe
DB_PASS=""

# @var string Noms des bases de données à exclure (regex)
DB_EXCLUSIONS="(information_schema|performance_schema)"

# @var string Options à passer à mysqldump
MYSQLDUMP_OPTIONS="--single-transaction --add-locks --lock-tables --events --routines --triggers --add-drop-table --extended-insert"

# @var string Chemin vers le dossier des sites internet
WWW_ROOTDIR="/var/www/vhosts"

# @var string Noms des dossiers à exclure
WWW_EXCLUSIONS="(system|chroot|default|fs|fs-passwd)"

# @var string Chemin vers l'exécutable duplicity
DUPLICITY_BIN="/opt/duplicity-backup/duplicity-backup.sh"

# @var string Fréquence des sauvegardes complètes
STATIC_OPTIONS="--full-if-older-than 1W"

CLEAN_UP_TYPE="remove-older-than"
CLEAN_UP_VARIABLE="1W"

# @var string Passphrase pour le chiffrement des sauvegardes
ENCRYPTION='yes'
PASSPHRASE=""

DEST="ftp://user[:password]@other.host[:port]/some_dir"
#DEST="rsync://user@host.com[:port]//absolute_path"
#DEST="scp://user[:password]@other.host[:port]/[/]some_dir"
#DEST="ssh://user[:password]@other.host[:port]/[/]some_dir"
#DEST="sftp://user[:password]@other.host[:port]/[/]some_dir"
#DEST="file:///home/foobar_user_name/new-backup-test/"
#DEST="imap[s]://user[:password]@host.com[/from_address_prefix]"
#DEST="webdav[s]://user[:password]@other.host[:port]/some_dir"
#DEST="gdocs://foobar_google_account/some_dir"

#FTP_PASSWORD=""

# @var string Ficher de log.
LOGFILE="/var/log/etd-backup/etd-backup.log"

LOGDIR="/var/log/etd-backup/"
LOG_FILE="duplicity-`date +%Y-%m-%d_%H-%M`.txt"
LOG_FILE_OWNER="root:root"
REMOVE_LOGS_OLDER_THAN='5'
VERBOSITY="-v3"

EMAIL_TO="support@etd-solutions.com"
EMAIL_FROM=""
EMAIL_SUBJECT="Alerte Backup"
MAIL="mailx"
