#
# @package     etd-backup
#
# @version     0.0.1
# @copyright   Copyright (C) 2014 SARL ETUDOO, ETD Solutions. All rights reserved.
# @license     https://raw.githubusercontent.com/jbanety/etd-backup/master/LICENSE.md
# @author      Jean-Baptiste Alleaume (@jbanety) http://alleau.me
#

# Répertoire(s) à sauvegarder (séparés par un espace)
DIRS_TO_BACKUP="/var/www"

# Répertoire de stockage des dumps des bases de données
DB_DUMPS_DIR="/var/etd-backup"

# Utilisateur MySQL utilisé pour le dump
DB_USER="etdbackup"

# Mot de passe MySQL
DB_PASS=""

# Noms des bases de données à exclure (regexp)
DB_EXCLUSIONS="(information_schema|performance_schema|phpmyadmin)"

# Options à passer à mysqldump
MYSQLDUMP_OPTIONS="--single-transaction --skip-comments --add-locks --lock-tables --routines --add-drop-table --add-drop-database --extended-insert"

# Chemin vers BUP
BUP="/usr/local/bin/bup/bin/bup"

# Dossier de destination des sauvegardes BUP
BUP_DEST="/root/.bup" 

# Dossier des fichiers de log
LOGDIR="/var/log/etd-backup/"

# Nom du fichier de log
LOG_FILE="etd-backup-`date +%Y-%m-%d_%H-%M`.txt"

# Propriétaire des fichiers de log
LOG_FILE_OWNER="root:root"

# Durée de rétention des logs
REMOVE_LOGS_OLDER_THAN='30'
