#
# @package     etd-backup
#
# @version     0.0.1
# @copyright   Copyright (C) 2014 SARL ETUDOO, ETD Solutions. All rights reserved.
# @license     https://raw.githubusercontent.com/jbanety/etd-backup/master/LICENSE.md
# @author      Jean-Baptiste Alleaume (@jbanety) http://alleau.me
#

# @var string Répertoire de stockage des sauvegardes
ROOT="/var/etd-backup"

# @var string Utilisateur MySQL utilisé pour le dump
DB_USER="etdbackup"

# @var string Mot de passe
DB_PASS=""

# @var string Noms des bases de données à exclure (regex)
DB_EXCLUSIONS="(information_schema|performance_schema)"

# @var string Options à passer à mysqldump
MYSQLDUMP_OPTIONS="--single-transaction --skip-comments --add-locks --lock-tables --events --routines --triggers --add-drop-table --extended-insert"

# @var string Chemin vers l'exécutable duplicity-backup
DUPLICITY_BACKUP="/root/duplicity-backup/duplicity-backup.sh"

LOGDIR="/var/log/etd-backup/"
LOG_FILE="etd-backup-`date +%Y-%m-%d_%H-%M`.txt"
LOG_FILE_OWNER="root:root"
REMOVE_LOGS_OLDER_THAN='30'